body {
    font-family: 'Times New Roman', Times, serif;
}

#telatotal{
    background-color: rgb(19, 19, 19);
    width: 100%;
    height: 100%
}

#logo{
    width: 100%;
    height: 10%;
    background-color: rgb(42, 31, 102);
    border: 1px solid black;
}

#_info_{
    width: 20%;
    height: 20%;
    color: white;
    text-align: center;
    align-items: center;
}

#home_div .enter input {
    width: 30%;
    border: 1px solid;
}

#home_div {
    width: 70%;
    height: 50%;
    color: white;
    background-color: rgb(27, 26, 23);
    border: 2px solid black;
    margin-top: 5%;
}

#protocolos {
    width: 70%;
    height: 50%;
    color: white;
    background-color: rgb(27, 26, 23);
    border: 2px solid black;
    margin-top: 1%;
}

#ocorrencia {
    width: 70%;
    height: 50%;
    color: white;
    background-color: rgb(27, 26, 23);
    border: 2px solid black;
    margin-top: 7%;
}

#tabela_contesta{
    margin-top: 5%;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(31, 29, 29);
    font-size:90%;
}
#tabela_contesta th{
    border: 1px solid rgb(0, 0, 0);
}

#tabela_contesta .contestacao {
    font-size:87%;
}

#tabela_ocorrencia {
    margin-top: 5%;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(31, 29, 29);
    font-size:90%;
}
#tabela_ocorrencia th {
    border: 1px solid rgb(0, 0, 0);
}
#tabela_ocorrencia .ocorrence {
    font-size:88%;
}

#rodape{
    color: white;
    margin-left: 30%;
    margin-top: 5%;
}
#rodape a:link{
    text-decoration: none;
    color: white; 
}