body {
    font-family: 'Times New Roman', Times, serif;
}

#telatotal{
    background-color: rgb(19, 19, 19);
    width: 100%;
    height: 100%
}

#logo{
    width: 100%;
    height: 10%;
    background-color: rgb(42, 31, 102);
    border: 1px solid black;
}

#dv1{
    width: 70%;
    height: 100%;
    color: white;
    background-color: rgb(27, 26, 23);
    border: 2px solid black;
    margin-top: 5%;
}

#dv1 .row {
    border: 1px solid black;
    background-color: rgb(31, 29, 29);
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
}

#dv1 .row label {
    float: left;
    margin-top: 1%;
}
#dv1 .row input {
    display: block;
    margin: 0;
    margin-top: 1%;
}
#dv1 .row input[type=text] {
    width: 40%;
}
#dv1 .row input[type=submit] {
    width: 15%;
}

#rodape{
    color: white;
    margin-left: 30%;
    margin-top: 5%;
}
#rodape a:link{
    text-decoration: none;
    color: white; 
}