body {
    font-family: 'Times New Roman', Times, serif;
}

#logo{
    background-color:black;
    border: 1px solid #000;
}

.navbar{
    background-color: rgb(221, 197, 197);
}

#dv1 {
    width: 700px;
    height: 500px;
    background-color: aquamarine;
    margin-left: 22%;
    border: 1px solid #000;
}

#dv1 #login {
    width: 700px;
    height: 150px;
    text-align: center;
}
#dv1 #login input {
    margin-top: 10px;
    font-size: large;
}
#dv1 #login button {
    margin-top: 10px;
    width: 80px;
    height: 30px;
    font-size: medium;
    text-align: justify;
}