body {
    font-family: 'Times New Roman', Times, serif;
}

#telatotal{
    background-color: rgb(19, 19, 19);
    width: 100%;
    height: 100%
}

#logo{
    width: 100%;
    height: 10%;
    background-color: rgb(42, 31, 102);
    border: 1px solid black;
}

#dv1{
    width: 70%;
    height: 100%;
    color: white;
    background-color: rgb(27, 26, 23);
    border: 2px solid black;
    margin-top: 5%;
}

#dv1 input[type=text]{
    width: 50%;
}
#dv1 input[type=file]{
    width: 50%;
}
#dv1 input[type=submit]{
    margin-top: 1%;
}

#dv1 #perfil_placa {
    margin-left: 10%;
    width: 80%;
    border: 2px solid rgb(10, 9, 9);
    position: relative;
    display: block;
    padding-top: 3%;
    background-color: rgb(36, 34, 34);
}

#park{
    margin-top: 5%;
}

#park #registrar_ocorrencia{
    position: relative;
    display: block;
    width: 100%;

}
#telatotal #dv1 #park #registrar_ocorrencia input[type=text]{
    width: 50%;
}

#rodape{
    color: white;
    margin-left: 30%;
    margin-top: 5%;
}
#rodape a:link{
    text-decoration: none;
    color: white; 
}