body {
    font-family: 'Times New Roman', Times, serif;
}

#logo{
    background-color:black;
    border: 1px solid #000;
}

#dv1 {
    width: 700px;
    height: 500px;
    background-color: aquamarine;
    margin-left: 22%;
    border: 1px solid #000;
}

.navbar{
    background-color: rgb(221, 197, 197);
}

#dv1 #signup {
    width: 700px;
    height: 200px;
    text-align: center;
}
#dv1 #signup input {
    margin-left: 3%;
    margin-top: 1%;
    font-size: large;
}
#dv1 #signup #signup_re_pass{
    margin-right: 8%;
}

#dv1 #signup #user_type{
    color: #000;
    display:block;
    width: 50%;
    margin-left: 31%;
}
#dv1 #signup button {
    margin-right: 5%;
    width: 80px;
    height: 30px;
    font-size: medium;
    text-align: justify;
}