body {
    font-family: 'Times New Roman', Times, serif;
}

#telatotal{
    background-color: rgb(19, 19, 19);
    width: 100%;
    height: 100%
}

#logo{
    width: 100%;
    height: 10%;
    background-color: rgb(42, 31, 102);
    border: 1px solid black;
}

#user_info {
    width: 50%;
    height: 50%;
    color: white;
    background-color: rgb(27, 26, 23);
    border: 2px solid black;
    margin-top: 5%;
}

#multas {
    border: 2px solid black;
    background-color: whitesmoke;
    color:rgb(27, 26, 23);
    width: 95%;
    height: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
}

#multas table{
    margin-top: 1%;
}

#multas table, tr, th, td {
    text-align: left;
    font-size: medium;
    border: 1px solid black;
}

#formul {
    position: relative;
    display: block;
    width: 50%;
    margin: 0;
    margin-top: 15%;
}
#botao_{
    margin: 0;
    margin-top: 3%;
}

#rodape{
    color: white;
    margin-left: 30%;
    margin-top: 5%;
}
#rodape a:link{
    text-decoration: none;
    color: white; 
}